<div class="properties-sidebar">
  <div *ngIf="!selectedObject">
    <h2>Properties</h2>
  <p>Select an object to edit its properties.</p>
  </div>

  <div *ngIf="selectedObject" class="properties-sidebar">
    <h3>Properties</h3>
    <label>Left: <input type="number" [(ngModel)]="objectLeft" (input)="applyPropertyChanges()"></label>
    <label>Top: <input type="number" [(ngModel)]="objectTop" (ngModelChange)="applyPropertyChanges()"></label>
    <label>Angle: <input type="number" [(ngModel)]="objectAngle" (ngModelChange)="applyPropertyChanges()"></label>
    <label>Fill: <input type="color" [(ngModel)]="fillColor" (ngModelChange)="applyPropertyChanges()"></label>
    <label>Stroke: <input type="color" [(ngModel)]="strokeColor" (ngModelChange)="applyPropertyChanges()"></label>
    <label>Stroke Width: <input type="number" [(ngModel)]="strokeWidth" (ngModelChange)="applyPropertyChanges()"></label>

    <div *ngIf="isCircle()">
      <label>Radius: <input type="number" [(ngModel)]="circleRadius" (ngModelChange)="applyPropertyChanges()"></label>
    </div>
    <div *ngIf="isEllipse()">
      <label>Radius X: <input type="number" [(ngModel)]="ellipseRx" (ngModelChange)="applyPropertyChanges()"></label>
      <label>Radius Y: <input type="number" [(ngModel)]="ellipseRy" (ngModelChange)="applyPropertyChanges()"></label>
    </div>
    <div *ngIf="isRectangle() || istriangle()">
      <label>Width: <input type="number" [(ngModel)]="rectWidth" (ngModelChange)="applyPropertyChanges()"></label>
      <label>Height: <input type="number" [(ngModel)]="rectHeight" (ngModelChange)="applyPropertyChanges()"></label>
    </div>
    <div *ngIf="isLine() ">
      <label>X1: <input type="number" [(ngModel)]="lineX1" (ngModelChange)="applyPropertyChanges()"></label>
      <label>Y1: <input type="number" [(ngModel)]="lineY1" (ngModelChange)="applyPropertyChanges()"></label>
      <label>X2: <input type="number" [(ngModel)]="lineX2" (ngModelChange)="applyPropertyChanges()"></label>
      <label>Y2: <input type="number" [(ngModel)]="lineY2" (ngModelChange)="applyPropertyChanges()"></label>
    </div>
    <div *ngIf="isText()">
      <label>Text:  <textarea
      
        [(ngModel)]="text"
        (ngModelChange)="applyPropertyChanges()"
      ></textarea></label>
      <label>Font Family: <input type="text" [(ngModel)]="fontFamily" (ngModelChange)="applyPropertyChanges()"></label>
      <label>Font Size: <input type="number" [(ngModel)]="fontSize" (ngModelChange)="applyPropertyChanges()"></label>
      <label>Font Weight: 
        <select [(ngModel)]="fontWeight" (ngModelChange)="applyPropertyChanges()">
          <option value="normal">Normal</option>
          <option value="bold">Bold</option>
        </select>
      </label>
      <label>Text Align: 
        <select [(ngModel)]="textAlign" (ngModelChange)="applyPropertyChanges()">
          <option value="left">Left</option>
          <option value="center">Center</option>
          <option value="right">Right</option>
        </select>
      </label>
      <label>Transform: 
        <select [(ngModel)]="textTransform" (ngModelChange)="applyPropertyChanges()">
          <option value="none">None</option>
          <option value="uppercase">Uppercase</option>
          <option value="lowercase">Lowercase</option>
          <option value="capitalize">Capitalize</option>
        </select>
      </label>
    </div>

   <div *ngIf="isPolygon()">
      <label>Hatch Color: <input type="color" [(ngModel)]="hatchColor" (ngModelChange)="applyPropertyChanges()"></label>
      <label>Hatch Thickness: <input type="number" [(ngModel)]="hatchThickness" (ngModelChange)="applyPropertyChanges()"></label>
    </div>

    <!-- <div class="property-group" *ngIf="(isConnectedCircles()|| isClosedConnectedCircles())">
      <label>Radius: <input type="number" [(ngModel)]="circleRadius" (change)="applyPropertyChanges()"></label>
    
    </div>
    <div class="property-group" *ngIf="isClosedConnectedEllipses()">
      <label>Rx: <input type="number" [(ngModel)]="ellipseRx" (change)="applyPropertyChanges()"></label>
      <label>Ry: <input type="number" [(ngModel)]="ellipseRy" (change)="applyPropertyChanges()"></label>
    </div>-->

  </div>
  
</div>



